// typefaces
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// reset browser css
* {
    box-sizing: border-box;
    margin: 0;    
    padding: 0;
    font-family: 'Karla', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

// colors
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(193, 43%, 64%);

// mixins
@mixin flex($align:center, $justify:center, $direction:row, $wrap:wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin grid($columns:1fr, $gap:20px) {
    display: grid;
    grid-template-columns: $columns;
    grid-gap: $gap;
}

// elements
h1 {
    font-size: 35px;
    color: $cyan;

    @media only screen and (max-width: 460px) {
        font-size: 30px;
    }
}

h2 {
    font-size: 25px;
    color: $bright-yellow;
    margin: 10px 0;

    @media only screen and (max-width: 460px) {
        font-size: 20px;
    }
}

h3 {
    font-size: 20px;
    color: #fff;
}

p {
    font-size: 15px;
    line-height: 1.4;
    color: $light-gray;
}

ul {
    list-style: none;

    li {
        font-size: 15px;
        color: $light-gray;
    }
}
