@import './config';

body {
    height: 100vh;
    @include flex();
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $light-gray;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    
    .hero {
        background-color: #fff;
        padding: 50px;

        p {
            color: $grayish-blue
        }

        @media only screen and (max-width: 460px) {
            padding: 30px;
        }

        @media only screen and (max-width: 380px) {
            padding: 20px;
        }
    }

    .grid {
        @include grid(1fr 1fr, 0px);

        .subscribe {
            padding: 50px;
            background-color: $cyan;

            .price {
                display: inline-block;
                margin: 20px 0 10px 0;
                font-size: 30px;
                font-weight: bold;
                color: #fff;
                @include flex($justify:flex-start);

                .smaller {
                    color: $light-gray;
                    font-size: 12px;
                    font-weight: normal;
                    opacity: 0.8;
                    margin-left: 10px;
                }
            }

            .btn {
                display: block;
                margin-top: 20px;
                text-align: center;
                width: 100%;
                padding: 15px;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                background-color: $bright-yellow;
                border-radius: 5px;
                text-decoration: none;
                transition: all 0.3s ease;

                &:hover {
                   background-color: #fff;
                   color: $cyan;
                }  
            }

            @media only screen and (max-width: 460px) {
                padding: 30px;
            }

            @media only screen and (max-width: 380px) {
                padding: 20px;
            }
        }
        
        .why-us {
            padding: 50px;
            background-color: $grayish-blue;

            ul {
                margin-top: 30px;
                line-height: 1.4;

                @media only screen and (max-width: 460px) {
                    margin-top: 20px;
                }
            }

            @media only screen and (max-width: 460px) {
                padding: 30px;
            }

            @media only screen and (max-width: 380px) {
                padding: 20px;
            }
        }

        @media only screen and (max-width: 660px) {
            display: block;
        }
    }

    @media only screen and (max-width: 790px) {
        max-width: 95%;
        margin: 20px auto;
    }
}